{% extends "layout.html" %}

{% block title %}
buy
{% endblock %}


{% block main %}
<form action="/buy" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quoteid" name="symbol" placeholder="Enter Symbol" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sharesid" name="shares" placeholder="Share amount" type="number">
    </div>
    <button class="btn btn-primary" type="submit"> Buy </button>
</form>

{% endblock %}